{% if DISPLAY_RECENT_POSTS_ON_SIDEBAR %}
  {% if RECENT_POST_COUNT is not defined %}
    {% set RECENT_POST_COUNT = 5 %}
  {% endif %}

<div class="mt-4">
  <div class="text-xl py-2 font-medium">Recent Posts</div>
  <div class="flex flex-col gap-2">
    {% for article in articles[:RECENT_POST_COUNT] %}
        <a class="text-sm hover:underline" href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
    {% endfor %}
  </div>
</div>
{% endif %}
