{% if DISPLAY_TAGS_ON_SIDEBAR is not defined %}
    {% set DISPLAY_TAGS_ON_SIDEBAR = True %}
{% endif -%}

{% if ('tag_cloud' in PLUGINS or 'pelican.plugins.tag_cloud' in PLUGINS) and DISPLAY_TAGS_ON_SIDEBAR %}
  {% if DISPLAY_TAGS_INLINE %}
    {% set tags = tag_cloud | sort(attribute='0') %}
  {% else %}
    {% set tags = tag_cloud | sort(attribute='1') %}
  {% endif %}

<div class="mt-4">
  <a href="{{ SITEURL }}/{{ TAGS_URL }}">
    <div class="text-xl py-2 font-medium hover:underline">Tags</div>
  </a>
  <div class="flex justify-center align-center items-center flex-wrap gap-2">
    {% for tag in tags %}
    <div class="tag-{{ tag.1 }} shrink-0">
      <a class="hover:underline" href="{{ SITEURL }}/{{ tag.0.url }}">
        {{- tag.0 -}}
      </a>
    </div>
    {% endfor %}
</div>
</div>
{% endif %}
