<div>
    {% if AVATAR %}
        <div class="w-36 h-36">
            <img width="100%" class="img-thumbnail w-36 h-36" alt="profile" src="{{ SITEURL }}/{{ AVATAR }}"/>
        </div>
    {% endif %}
    {% if ABOUT_ME %}
    <p class="mt-1">
      <strong>About {{ AUTHOR }}</strong><br/>
        {{ ABOUT_ME }}
    </p>
    {% endif %}
</div>
