<div class="bg-no-repeat bg-scroll bg-top-center bg-cover py-20 drop-shadow-xl" style="background-image:url('{{ SITEURL}}/{{ BANNER }}');">
	<div class="max-w-4xl mx-auto md:p-2">
		<div class="inline-block bg-black bg-opacity-75 p-5">
			<h1 class="text-3xl md:text-6xl text-white uppercase font-bold">{{ SITENAME }}</h1>
			{% if BANNER_SUBTITLE %}
				<p class="intro">{{ BANNER_SUBTITLE }}</p>
			{% endif %}
		</div>
	</div>
</div>
