<ul class="menu bg-base-300 p-4 w-80">
	{% for title, link in MENUITEMS %}
	<li><a href="{{ link }}">{{ title }}</a></li>
	{% endfor %}

	{% if not PAGES_SORT_ATTRIBUTE -%}
	{% set PAGES_SORT_ATTRIBUTE = 'title' %}
	{%- endif %}
	{% if DISPLAY_PAGES_ON_MENU %}
	{% for page in pages %}
		<li><a href="{{ SITEURL }}/{{ page.url }}">{{page.title}}</a></li>
	{% endfor %}
	{% endif %}

	{% if DISPLAY_CATEGORIES_ON_MENU %}
		{% for cat, null in categories %}
			<li {% if cat == category %}class="active"{% endif %}>
				<a href="{{ SITEURL }}/{{ cat.url }}">{{ cat | capitalize }}</a>
			</li>
		{% endfor %}
	{% endif %}
	{% if ARCHIVES_SAVE_AS %}
	<li><a href="{{ SITEURL }}/{{ ARCHIVES_URL | default('archives.html') }}">
		Archives
	</a></li>
	{% endif %}
</ul>

