{% if article.tags %}
<span class="badge badge-sm">Tags</span>
<div>
{% for tag in article.tags %}
	<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
    {% if not loop.last %}
        /
    {% endif %}
{% endfor %}
</div>
{% endif %}
