{% extends "base.html" %}

{% block breadcrumbs %}
    {% if DISPLAY_BREADCRUMBS %}
    <div class="breadcrumbs">
        <ul>
            <li>
                <a href="{{ SITEURL }}" title="{{ SITENAME }}">
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M9.293 2.293a1 1 0 011.414 0l7 7A1 1 0 0117 11h-1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-3a1 1 0 00-1-1H9a1 1 0 00-1 1v3a1 1 0 01-1 1H5a1 1 0 01-1-1v-6H3a1 1 0 01-.707-1.707l7-7z" clip-rule="evenodd"/>
                    </svg>
                </a>
            </li>
            <li class="active">Archives</li>
        </ul>
    </div>
    {% endif %}
{% endblock %}

{% block content %}
<section>
    <h1 class="font-extrabold text-4xl mb-8">Archives for {{ SITENAME }}</h1>
    <div id="archives" class="grid grid-cols-2-auto items-baseline gap-2">
        {% for year, date_year in dates|groupby( 'date.year' )|sort(reverse=True) %}
            <div class="col-span-2 text-xl font-semibold mt-6 first:mt-2 mb-2">Archive for {{ year }}</div>
            {% for article in date_year %}
                <span class="mb-5 text-sm opacity-80"><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></span>
                <a class="mb-5 font-medium underline" href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}{% if article.subtitle %} - {{ article.subtitle }}{% endif %}</a>
            {% endfor %}
        {% endfor %}
    </div>
</section>
{% endblock %}
