{% extends "base.html" %}
{% block content %}
    {% if articles %}
        <div class="divide-y-2 divide-solid">
        {% for article in (articles_page.object_list if articles_page else articles) %}
            <article class="prose py-8 first:pt-0">
                <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
                {% if DISPLAY_ARTICLE_INFO_ON_INDEX %}
                    <div class="grid grid-cols-2-auto md:grid-cols-4-auto gap-2 items-center justify-items-start text-xs bg-base-200 p-4 rounded">
                        {% include "includes/article_info.html" %}
                    </div>
                {% endif %}
                <div class="summary">{{ article.summary }}
                    <a class="btn btn-xs" href="{{ SITEURL }}/{{ article.url }}">more ...</a>
                </div>
            </article>
        {% endfor %}
        </div>
    {% endif %}

    {% include 'includes/pagination.html' %}
{% endblock content %}
