.highlight pre .hll, pre.code .hll { background-color: #ffffcc }
.highlight pre, pre.code { background: #ffffff; }
.highlight pre .c, pre.code .c { color: #008800; font-style: italic } /* Comment */
.highlight pre .err, pre.code .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight pre .k, pre.code .k { color: #000080; font-weight: bold } /* Keyword */
.highlight pre .cm, pre.code .cm { color: #008800; font-style: italic } /* Comment.Multiline */
.highlight pre .cp, pre.code .cp { color: #008080 } /* Comment.Preproc */
.highlight pre .c, pre.code .c1 { color: #008800; font-style: italic } /* Comment.Single */
.highlight pre .cs, pre.code .cs { color: #008800; font-weight: bold } /* Comment.Special */
.highlight pre .gd, pre.code .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight pre .ge, pre.code .ge { font-style: italic } /* Generic.Emph */
.highlight pre .gr, pre.code .gr { color: #aa0000 } /* Generic.Error */
.highlight pre .gh, pre.code .gh { color: #999999 } /* Generic.Heading */
.highlight pre .gi, pre.code .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight pre .go, pre.code .go { color: #888888 } /* Generic.Output */
.highlight pre .gp, pre.code .gp { color: #555555 } /* Generic.Prompt */
.highlight pre .gs, pre.code .gs { font-weight: bold } /* Generic.Strong */
.highlight pre .gu, pre.code .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight pre .gt, pre.code .gt { color: #aa0000 } /* Generic.Traceback */
.highlight pre .kc, pre.code .kc { color: #000080; font-weight: bold } /* Keyword.Constant */
.highlight pre .kd, pre.code .kd { color: #000080; font-weight: bold } /* Keyword.Declaration */
.highlight pre .kn, pre.code .kn { color: #000080; font-weight: bold } /* Keyword.Namespace */
.highlight pre .kp, pre.code .kp { color: #000080; font-weight: bold } /* Keyword.Pseudo */
.highlight pre .kr, pre.code .kr { color: #000080; font-weight: bold } /* Keyword.Reserved */
.highlight pre .kt, pre.code .kt { color: #000080; font-weight: bold } /* Keyword.Type */
.highlight pre .m, pre.code .m { color: #0000FF } /* Literal.Number */
.highlight pre .s, pre.code .s { color: #0000FF } /* Literal.String */
.highlight pre .na, pre.code .na { color: #FF0000 } /* Name.Attribute */
.highlight pre .nt, pre.code .nt { color: #000080; font-weight: bold } /* Name.Tag */
.highlight pre .ow, pre.code .ow { font-weight: bold } /* Operator.Word */
.highlight pre .w, pre.code .w { color: #bbbbbb } /* Text.Whitespace */
.highlight pre .mb, pre.code .mb { color: #0000FF } /* Literal.Number.Bin */
.highlight pre .mf, pre.code .mf { color: #0000FF } /* Literal.Number.Float */
.highlight pre .mh, pre.code .mh { color: #0000FF } /* Literal.Number.Hex */
.highlight pre .mi, pre.code .mi { color: #0000FF } /* Literal.Number.Integer */
.highlight pre .mo, pre.code .mo { color: #0000FF } /* Literal.Number.Oct */
.highlight pre .sb, pre.code .sb { color: #0000FF } /* Literal.String.Backtick */
.highlight pre .sc, pre.code .sc { color: #800080 } /* Literal.String.Char */
.highlight pre .sd, pre.code .sd { color: #0000FF } /* Literal.String.Doc */
.highlight pre .s, pre.code .s2 { color: #0000FF } /* Literal.String.Double */
.highlight pre .se, pre.code .se { color: #0000FF } /* Literal.String.Escape */
.highlight pre .sh, pre.code .sh { color: #0000FF } /* Literal.String.Heredoc */
.highlight pre .si, pre.code .si { color: #0000FF } /* Literal.String.Interpol */
.highlight pre .sx, pre.code .sx { color: #0000FF } /* Literal.String.Other */
.highlight pre .sr, pre.code .sr { color: #0000FF } /* Literal.String.Regex */
.highlight pre .s, pre.code .s1 { color: #0000FF } /* Literal.String.Single */
.highlight pre .ss, pre.code .ss { color: #0000FF } /* Literal.String.Symbol */
.highlight pre .il, pre.code .il { color: #0000FF } /* Literal.Number.Integer.Long */
