.highlight pre .hll, pre.code .hll { background-color: #ffffcc }
.highlight pre, pre.code { background: #ffffff; }
.highlight pre .c, pre.code .c { color: #888888 } /* Comment */
.highlight pre .err, pre.code .err { color: #FF0000; background-color: #FFAAAA } /* Error */
.highlight pre .k, pre.code .k { color: #008800; font-weight: bold } /* Keyword */
.highlight pre .o, pre.code .o { color: #333333 } /* Operator */
.highlight pre .cm, pre.code .cm { color: #888888 } /* Comment.Multiline */
.highlight pre .cp, pre.code .cp { color: #557799 } /* Comment.Preproc */
.highlight pre .c, pre.code .c1 { color: #888888 } /* Comment.Single */
.highlight pre .cs, pre.code .cs { color: #cc0000; font-weight: bold } /* Comment.Special */
.highlight pre .gd, pre.code .gd { color: #A00000 } /* Generic.Deleted */
.highlight pre .ge, pre.code .ge { font-style: italic } /* Generic.Emph */
.highlight pre .gr, pre.code .gr { color: #FF0000 } /* Generic.Error */
.highlight pre .gh, pre.code .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight pre .gi, pre.code .gi { color: #00A000 } /* Generic.Inserted */
.highlight pre .go, pre.code .go { color: #888888 } /* Generic.Output */
.highlight pre .gp, pre.code .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.highlight pre .gs, pre.code .gs { font-weight: bold } /* Generic.Strong */
.highlight pre .gu, pre.code .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight pre .gt, pre.code .gt { color: #0044DD } /* Generic.Traceback */
.highlight pre .kc, pre.code .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
.highlight pre .kd, pre.code .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
.highlight pre .kn, pre.code .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
.highlight pre .kp, pre.code .kp { color: #003388; font-weight: bold } /* Keyword.Pseudo */
.highlight pre .kr, pre.code .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
.highlight pre .kt, pre.code .kt { color: #333399; font-weight: bold } /* Keyword.Type */
.highlight pre .m, pre.code .m { color: #6600EE; font-weight: bold } /* Literal.Number */
.highlight pre .s, pre.code .s { background-color: #fff0f0 } /* Literal.String */
.highlight pre .na, pre.code .na { color: #0000CC } /* Name.Attribute */
.highlight pre .nb, pre.code .nb { color: #007020 } /* Name.Builtin */
.highlight pre .nc, pre.code .nc { color: #BB0066; font-weight: bold } /* Name.Class */
.highlight pre .no, pre.code .no { color: #003366; font-weight: bold } /* Name.Constant */
.highlight pre .nd, pre.code .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.highlight pre .ni, pre.code .ni { color: #880000; font-weight: bold } /* Name.Entity */
.highlight pre .ne, pre.code .ne { color: #FF0000; font-weight: bold } /* Name.Exception */
.highlight pre .nf, pre.code .nf { color: #0066BB; font-weight: bold } /* Name.Function */
.highlight pre .nl, pre.code .nl { color: #997700; font-weight: bold } /* Name.Label */
.highlight pre .nn, pre.code .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.highlight pre .nt, pre.code .nt { color: #007700 } /* Name.Tag */
.highlight pre .nv, pre.code .nv { color: #996633 } /* Name.Variable */
.highlight pre .ow, pre.code .ow { color: #000000; font-weight: bold } /* Operator.Word */
.highlight pre .w, pre.code .w { color: #bbbbbb } /* Text.Whitespace */
.highlight pre .mb, pre.code .mb { color: #6600EE; font-weight: bold } /* Literal.Number.Bin */
.highlight pre .mf, pre.code .mf { color: #6600EE; font-weight: bold } /* Literal.Number.Float */
.highlight pre .mh, pre.code .mh { color: #005588; font-weight: bold } /* Literal.Number.Hex */
.highlight pre .mi, pre.code .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
.highlight pre .mo, pre.code .mo { color: #4400EE; font-weight: bold } /* Literal.Number.Oct */
.highlight pre .sb, pre.code .sb { background-color: #fff0f0 } /* Literal.String.Backtick */
.highlight pre .sc, pre.code .sc { color: #0044DD } /* Literal.String.Char */
.highlight pre .sd, pre.code .sd { color: #DD4422 } /* Literal.String.Doc */
.highlight pre .s, pre.code .s2 { background-color: #fff0f0 } /* Literal.String.Double */
.highlight pre .se, pre.code .se { color: #666666; font-weight: bold; background-color: #fff0f0 } /* Literal.String.Escape */
.highlight pre .sh, pre.code .sh { background-color: #fff0f0 } /* Literal.String.Heredoc */
.highlight pre .si, pre.code .si { background-color: #eeeeee } /* Literal.String.Interpol */
.highlight pre .sx, pre.code .sx { color: #DD2200; background-color: #fff0f0 } /* Literal.String.Other */
.highlight pre .sr, pre.code .sr { color: #000000; background-color: #fff0ff } /* Literal.String.Regex */
.highlight pre .s, pre.code .s1 { background-color: #fff0f0 } /* Literal.String.Single */
.highlight pre .ss, pre.code .ss { color: #AA6600 } /* Literal.String.Symbol */
.highlight pre .bp, pre.code .bp { color: #007020 } /* Name.Builtin.Pseudo */
.highlight pre .vc, pre.code .vc { color: #336699 } /* Name.Variable.Class */
.highlight pre .vg, pre.code .vg { color: #dd7700; font-weight: bold } /* Name.Variable.Global */
.highlight pre .vi, pre.code .vi { color: #3333BB } /* Name.Variable.Instance */
.highlight pre .il, pre.code .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */
