.highlight pre .hll, pre.code .hll { background-color: #ffffcc }
.highlight pre, pre.code { background: #ffffff; }
.highlight pre .c, pre.code .c { color: #888888 } /* Comment */
.highlight pre .err, pre.code .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight pre .k, pre.code .k { color: #008800; font-weight: bold } /* Keyword */
.highlight pre .cm, pre.code .cm { color: #888888 } /* Comment.Multiline */
.highlight pre .cp, pre.code .cp { color: #cc0000; font-weight: bold } /* Comment.Preproc */
.highlight pre .c, pre.code .c1 { color: #888888 } /* Comment.Single */
.highlight pre .cs, pre.code .cs { color: #cc0000; font-weight: bold; background-color: #fff0f0 } /* Comment.Special */
.highlight pre .gd, pre.code .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight pre .ge, pre.code .ge { font-style: italic } /* Generic.Emph */
.highlight pre .gr, pre.code .gr { color: #aa0000 } /* Generic.Error */
.highlight pre .gh, pre.code .gh { color: #333333 } /* Generic.Heading */
.highlight pre .gi, pre.code .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight pre .go, pre.code .go { color: #888888 } /* Generic.Output */
.highlight pre .gp, pre.code .gp { color: #555555 } /* Generic.Prompt */
.highlight pre .gs, pre.code .gs { font-weight: bold } /* Generic.Strong */
.highlight pre .gu, pre.code .gu { color: #666666 } /* Generic.Subheading */
.highlight pre .gt, pre.code .gt { color: #aa0000 } /* Generic.Traceback */
.highlight pre .kc, pre.code .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
.highlight pre .kd, pre.code .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
.highlight pre .kn, pre.code .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
.highlight pre .kp, pre.code .kp { color: #008800 } /* Keyword.Pseudo */
.highlight pre .kr, pre.code .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
.highlight pre .kt, pre.code .kt { color: #888888; font-weight: bold } /* Keyword.Type */
.highlight pre .m, pre.code .m { color: #0000DD; font-weight: bold } /* Literal.Number */
.highlight pre .s, pre.code .s { color: #dd2200; background-color: #fff0f0 } /* Literal.String */
.highlight pre .na, pre.code .na { color: #336699 } /* Name.Attribute */
.highlight pre .nb, pre.code .nb { color: #003388 } /* Name.Builtin */
.highlight pre .nc, pre.code .nc { color: #bb0066; font-weight: bold } /* Name.Class */
.highlight pre .no, pre.code .no { color: #003366; font-weight: bold } /* Name.Constant */
.highlight pre .nd, pre.code .nd { color: #555555 } /* Name.Decorator */
.highlight pre .ne, pre.code .ne { color: #bb0066; font-weight: bold } /* Name.Exception */
.highlight pre .nf, pre.code .nf { color: #0066bb; font-weight: bold } /* Name.Function */
.highlight pre .nl, pre.code .nl { color: #336699; font-style: italic } /* Name.Label */
.highlight pre .nn, pre.code .nn { color: #bb0066; font-weight: bold } /* Name.Namespace */
.highlight pre .py, pre.code .py { color: #336699; font-weight: bold } /* Name.Property */
.highlight pre .nt, pre.code .nt { color: #bb0066; font-weight: bold } /* Name.Tag */
.highlight pre .nv, pre.code .nv { color: #336699 } /* Name.Variable */
.highlight pre .ow, pre.code .ow { color: #008800 } /* Operator.Word */
.highlight pre .w, pre.code .w { color: #bbbbbb } /* Text.Whitespace */
.highlight pre .mb, pre.code .mb { color: #0000DD; font-weight: bold } /* Literal.Number.Bin */
.highlight pre .mf, pre.code .mf { color: #0000DD; font-weight: bold } /* Literal.Number.Float */
.highlight pre .mh, pre.code .mh { color: #0000DD; font-weight: bold } /* Literal.Number.Hex */
.highlight pre .mi, pre.code .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
.highlight pre .mo, pre.code .mo { color: #0000DD; font-weight: bold } /* Literal.Number.Oct */
.highlight pre .sb, pre.code .sb { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Backtick */
.highlight pre .sc, pre.code .sc { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Char */
.highlight pre .sd, pre.code .sd { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Doc */
.highlight pre .s, pre.code .s2 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Double */
.highlight pre .se, pre.code .se { color: #0044dd; background-color: #fff0f0 } /* Literal.String.Escape */
.highlight pre .sh, pre.code .sh { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Heredoc */
.highlight pre .si, pre.code .si { color: #3333bb; background-color: #fff0f0 } /* Literal.String.Interpol */
.highlight pre .sx, pre.code .sx { color: #22bb22; background-color: #f0fff0 } /* Literal.String.Other */
.highlight pre .sr, pre.code .sr { color: #008800; background-color: #fff0ff } /* Literal.String.Regex */
.highlight pre .s, pre.code .s1 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Single */
.highlight pre .ss, pre.code .ss { color: #aa6600; background-color: #fff0f0 } /* Literal.String.Symbol */
.highlight pre .bp, pre.code .bp { color: #003388 } /* Name.Builtin.Pseudo */
.highlight pre .vc, pre.code .vc { color: #336699 } /* Name.Variable.Class */
.highlight pre .vg, pre.code .vg { color: #dd7700 } /* Name.Variable.Global */
.highlight pre .vi, pre.code .vi { color: #3333bb } /* Name.Variable.Instance */
.highlight pre .il, pre.code .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */
