.highlight pre .hll, pre.code .hll { background-color: #ffffcc }
.highlight pre, pre.code { background: #eeeedd; }
.highlight pre .c, pre.code .c { color: #228B22 } /* Comment */
.highlight pre .err, pre.code .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight pre .k, pre.code .k { color: #8B008B; font-weight: bold } /* Keyword */
.highlight pre .cm, pre.code .cm { color: #228B22 } /* Comment.Multiline */
.highlight pre .cp, pre.code .cp { color: #1e889b } /* Comment.Preproc */
.highlight pre .c, pre.code .c1 { color: #228B22 } /* Comment.Single */
.highlight pre .cs, pre.code .cs { color: #8B008B; font-weight: bold } /* Comment.Special */
.highlight pre .gd, pre.code .gd { color: #aa0000 } /* Generic.Deleted */
.highlight pre .ge, pre.code .ge { font-style: italic } /* Generic.Emph */
.highlight pre .gr, pre.code .gr { color: #aa0000 } /* Generic.Error */
.highlight pre .gh, pre.code .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight pre .gi, pre.code .gi { color: #00aa00 } /* Generic.Inserted */
.highlight pre .go, pre.code .go { color: #888888 } /* Generic.Output */
.highlight pre .gp, pre.code .gp { color: #555555 } /* Generic.Prompt */
.highlight pre .gs, pre.code .gs { font-weight: bold } /* Generic.Strong */
.highlight pre .gu, pre.code .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight pre .gt, pre.code .gt { color: #aa0000 } /* Generic.Traceback */
.highlight pre .kc, pre.code .kc { color: #8B008B; font-weight: bold } /* Keyword.Constant */
.highlight pre .kd, pre.code .kd { color: #8B008B; font-weight: bold } /* Keyword.Declaration */
.highlight pre .kn, pre.code .kn { color: #8B008B; font-weight: bold } /* Keyword.Namespace */
.highlight pre .kp, pre.code .kp { color: #8B008B; font-weight: bold } /* Keyword.Pseudo */
.highlight pre .kr, pre.code .kr { color: #8B008B; font-weight: bold } /* Keyword.Reserved */
.highlight pre .kt, pre.code .kt { color: #a7a7a7; font-weight: bold } /* Keyword.Type */
.highlight pre .m, pre.code .m { color: #B452CD } /* Literal.Number */
.highlight pre .s, pre.code .s { color: #CD5555 } /* Literal.String */
.highlight pre .na, pre.code .na { color: #658b00 } /* Name.Attribute */
.highlight pre .nb, pre.code .nb { color: #658b00 } /* Name.Builtin */
.highlight pre .nc, pre.code .nc { color: #008b45; font-weight: bold } /* Name.Class */
.highlight pre .no, pre.code .no { color: #00688B } /* Name.Constant */
.highlight pre .nd, pre.code .nd { color: #707a7c } /* Name.Decorator */
.highlight pre .ne, pre.code .ne { color: #008b45; font-weight: bold } /* Name.Exception */
.highlight pre .nf, pre.code .nf { color: #008b45 } /* Name.Function */
.highlight pre .nn, pre.code .nn { color: #008b45; text-decoration: underline } /* Name.Namespace */
.highlight pre .nt, pre.code .nt { color: #8B008B; font-weight: bold } /* Name.Tag */
.highlight pre .nv, pre.code .nv { color: #00688B } /* Name.Variable */
.highlight pre .ow, pre.code .ow { color: #8B008B } /* Operator.Word */
.highlight pre .w, pre.code .w { color: #bbbbbb } /* Text.Whitespace */
.highlight pre .mb, pre.code .mb { color: #B452CD } /* Literal.Number.Bin */
.highlight pre .mf, pre.code .mf { color: #B452CD } /* Literal.Number.Float */
.highlight pre .mh, pre.code .mh { color: #B452CD } /* Literal.Number.Hex */
.highlight pre .mi, pre.code .mi { color: #B452CD } /* Literal.Number.Integer */
.highlight pre .mo, pre.code .mo { color: #B452CD } /* Literal.Number.Oct */
.highlight pre .sb, pre.code .sb { color: #CD5555 } /* Literal.String.Backtick */
.highlight pre .sc, pre.code .sc { color: #CD5555 } /* Literal.String.Char */
.highlight pre .sd, pre.code .sd { color: #CD5555 } /* Literal.String.Doc */
.highlight pre .s, pre.code .s2 { color: #CD5555 } /* Literal.String.Double */
.highlight pre .se, pre.code .se { color: #CD5555 } /* Literal.String.Escape */
.highlight pre .sh, pre.code .sh { color: #1c7e71; font-style: italic } /* Literal.String.Heredoc */
.highlight pre .si, pre.code .si { color: #CD5555 } /* Literal.String.Interpol */
.highlight pre .sx, pre.code .sx { color: #cb6c20 } /* Literal.String.Other */
.highlight pre .sr, pre.code .sr { color: #1c7e71 } /* Literal.String.Regex */
.highlight pre .s, pre.code .s1 { color: #CD5555 } /* Literal.String.Single */
.highlight pre .ss, pre.code .ss { color: #CD5555 } /* Literal.String.Symbol */
.highlight pre .bp, pre.code .bp { color: #658b00 } /* Name.Builtin.Pseudo */
.highlight pre .vc, pre.code .vc { color: #00688B } /* Name.Variable.Class */
.highlight pre .vg, pre.code .vg { color: #00688B } /* Name.Variable.Global */
.highlight pre .vi, pre.code .vi { color: #00688B } /* Name.Variable.Instance */
.highlight pre .il, pre.code .il { color: #B452CD } /* Literal.Number.Integer.Long */
